<%- include('../partials/header') %> 
    	<div class="container px-4 ">
            <br><br>
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">	
						<div class="preview-pic tab-content">
						  <div class="tab-pane active"> <image src="<%= movie.url %> " max-width= "400px" Max-height="500"></div>
						</div>			
					</div>
					<div class="details col-md-6">
                        <br>
						<h2 class="product-title"><%= movie.movieName %></h2>
                        <p class="product-description"><%= movie.movieInfo %></p>
						<h4 class="price">time: <span><%= movie.runningTime %>hrs </span></h4>
                        <h5 class="sizes">Year:<h6><span><%= movie.movieYear %></span></h6></h5>
                        <h5 class="sizes">Studio:<h6><span><%= movie.author %> </span></h6></h5>
						<h5 class="sizes">actors:<h6><span><%= movie.movieCast %></span></h6>
						</h5>
					</div>
				</div>
			</div>
	</div>
    <br><br>
<%- include('../partials/footer') %> 